! Commands to remove ustom Cisco configuration for AWS VPN
!
clear configure tunnel-group ${tunnel_1_address}
clear configure tunnel-group ${tunnel_2_address}
!
clear configure group-policy MacStadiumVPN_AWS_Tunnel_2501
clear configure group-policy MacStadiumVPN_AWS_Tunnel_2502
!
clear configure crypto map Outside_map 2501
clear configure crypto map Outside_map 2502
clear configure access-list Outside_cryptomap_2501
clear configure access-list Outside_cryptomap_2502
!
no nat (Private-1,Outside) source static Network_MacStadiumVPN_MacStadium Network_MacStadiumVPN_MacStadium destination static Network_MacStadiumVPN_AWS Network_MacStadiumVPN_AWS no-proxy-arp route-lookup
!
no object network Network_MacStadiumVPN_AWS
no object network Network_MacStadiumVPN_MacStadium
!
! This is the end of the Cisco configuration removal file. We are done!
