! Commands to remove ustom Cisco configuration for AWS VPN
!
clear configure tunnel-group ${tunnel_1_address}
clear configure tunnel-group ${tunnel_2_address}
!
clear configure group-policy Tunnel_1
clear configure group-policy Tunnel_2
!
clear configure crypto map Outside_map 1
clear configure crypto map Outside_map 2
clear configure access-list Outside_cryptomap_1
clear configure access-list Outside_cryptomap_2
!
no nat (Private-1,Outside) source static Network_MacStadium Network_MacStadium destination static Network_AWS Network_AWS no-proxy-arp route-lookup
!
no object network Network_AWS
no object network Network_MacStadium
!
! This is the end of the Cisco configuration removal file. We are done!
